.size-list{
    h2{
        font-family: var(--body-font);
        font-size: 1.1rem;
        margin: 0px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    ul{
        font-family: var(--body-font);
        display: flex;
        gap: 10px;
        align-items: start;
        margin-bottom: 10px;
    }
    li{
        font-size: 1.1rem;  
        padding: 7px 10px;
        transition: all 0.25s ease-in-out;
        border: 1px solid var(--border-gray);
        font-weight: 300;

    }
    li.active{
        border: 1px solid var(--black);
    }
      
}