<div class="container">
  <header class="header">
    <div class="header__logo">LOGO</div>
    <nav class="header__nav">
      <div class="header__item"><a href="#">Men</a></div>
      <div class="header__item"><a href="#">Women</a></div>
      <div class="header__item"><a href="#">Bags</a></div>
    </nav>
    <div class="header__account">
      <div class="header__search">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search" class="header__search__input" />
      </div>
      <!-- <div class="header__cart"></div> -->
      <app-button class="header__login-btn">Login</app-button>
    </div>
  </header>
</div>
