.dropdown__lang {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.dropdown__lang--text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
