<div class="color-list">
    <h2>Color</h2>
    <ul>
      <li (click)="selectItem('green')" [class.active]="selectedItem === 'green'" style="background-color: #20c997;"></li>
      <li (click)="selectItem('blue')" [class.active]="selectedItem === 'blue'" style="background-color: #af83f8;"></li>
      <li (click)="selectItem('pink')" [class.active]="selectedItem === 'pink'" style="background-color: #e25563;"></li>
      <li (click)="selectItem('black')" [class.active]="selectedItem === 'black'" style="background-color: #121212;"></li>
    </ul>
  </div>
  