h1 {
  font-family: var(--title-font);
}
h2 {
  font-family: var(--body-font);
}
.pageHero__container {
  background: rgb(246, 246, 246);
  background: linear-gradient(
      128deg,
      rgba(246, 246, 246, 0.05) 50%,
      rgba(218, 155, 161, 0.5) 100%
    ),
    linear-gradient(
      90deg,
      rgba(246, 246, 246, 1) 0%,
      rgb(167, 185, 237, 0.5) 30%,
      rgba(246, 246, 246, 1) 100%
    );
  display: flex;
  align-items: center;
  justify-content: center;
}

